{% load i18n %}
<h3 class="mt-5 mb-4">
    {% trans 'Список Гостей'%}
    </h3>
        {% for guest in guests %}
            <div class="card my-2">
                <div class="card-body">
                    <h5 class="card-title">{% trans 'ФИО' %}:
                        <a href="{% url 'hostelguests:detail_view' pk=guest.pk %}">
                            {{guest.first_name}} {{guest.last_name}} {{guest.middle_name}}
                        </a>
                    </h5>
                    <p class="card-text">{% trans 'Дата рождения' %}: {{ guest.birth_date }}</p>
                </div>
            </div>
        {% endfor %}