{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block title %}
{% trans 'Журнал услуг' %}
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}
{% block menu %}
{% endblock %}
{% block content %}
{% include 'partial/pagination.html' %}
    {% load i18n %}
<h3 class="mb-5 mt-4" align="center">
   <b>{% trans 'Журнал услуг' %}</b>
</h3>
{% for journal in journals %}
    <div class="card my-2">
        <div class="card-body">
                <h5 class="card-title">{% trans 'ФИО' %}:<a href="#"> {{ journal.guest.first_name }} {{ journal.guest.last_name }}</a></h5>
                <p>{{journal.hostel_service.service_name }}</p>
            {% if perms.unwelcomeguests.can_delete_unwelcomeguest %}
                <a href="#">
                <button type="button" class="btn btn-danger ml-3"> {% trans 'Удалить из черного списка'%}</button></a>
            {% endif %}
          </div>
    </div>
{% endfor %}

{% endblock %}