{% extends 'base.html' %}
{% load i18n %}
{% block title %}
    {% trans 'Удалить товар ' %}{{ product.title }}
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <h4 class="my-3">{% trans 'Вы уверены, что хотите удалить этот товар?' %}</h4>
        <p>{{ product.title }}</p>
        <input class="btn btn-danger" type="submit" value="{% trans 'Да' %}">
        <a class="btn btn-primary" href="{% url 'products:product_list' %}">{% trans 'Нет' %}</a>
    </form>
{% endblock %}