{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block title %}
{% trans 'Список исполнителей услуг' %}
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}
{% block menu %}
{% endblock %}
{% block content %}
{% include 'partial/pagination.html' %}

    {% load i18n %}
<h3 class="mb-5 mt-4" align="center">
   <b>{% trans 'Список исполнителей услуг' %}</b>
</h3>
{% for service_executor in service_executors %}
    <div class="card my-2">
        <div class="card-body">
                <h5 class="card-title">{% trans 'ФИО' %}:<a href="{% url 'serviceexecutors:serviceexecutor_view' service_executor.pk %}"> {{ service_executor.name }} {{ service_executor.last_name }} {{ service_executor.middle_name }}</a></h5>
            {% if perms.serviceexecutors.can_delete_serviceexecutor %}
                <a href="{% url 'serviceexecutors:serviceexecutor_delete' service_executor.pk %}">
                <button type="button" class="btn btn-danger ml-3"> {% trans 'Удалить из cписка исполнителей услуг'%}</button></a>
            {% endif %}

        </div>
    </div>
{% endfor %}

{% endblock %}