{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block title %}
{% trans 'Приход товара' %}
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}
{% block menu %}
{% endblock %}
{% block content %}
{% include 'partial/pagination.html' %}
    {% load i18n %}
<h3 class="mb-5 mt-4" align="center">
   <b>{% trans 'Приход товара' %}</b>
</h3>
    <table class="table">
  <thead>
    <tr>
        <th scope="col">Товар</th>
        <th scope="col">поставщик</th>
        <th scope="col">количество</th>
        <th scope="col"></th>
        <th scope="col"></th>
    </tr>
  </thead>
{% for product in product_incoms %}
  <tbody>
    <tr>
        <th scope="row" id="id_sel_his_guest_name">{{ product.product.title }}</th>
        <td>{{ product.incomes.services_executor.name }} {{ product.incomes.services_executor.last_name }}</td>
        <td><a href="#">{{product.qty}}</a></td>

                <td><a href="#">
                <button type="button" class="btn btn-danger ml-3"> {% trans 'Изменить'%}</button></a></td>


                <td><a href="#">
                <button type="button" class="btn btn-dark ml-3"> {% trans 'Удалить'%}</button></a></td>

    </tr>
  </tbody>

{% endfor %}
</table>
{% endblock %}