{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block title %}{% trans 'Детальный просмотр' %}
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}
{% block navs %}
{% endblock %}
{% block content %}
      <h4 class="mb-4 mt-5" align="center" id="employee_title"><b>{% trans 'Информация о сотруднике' %}</b></h4>
    <div class="box">
  <div class="row no-gutters">
    <div>
         {% if employee.photo %}
    <img src="{{ employee.photo.url }}" width="auto" height="200" alt="employee_img" align="left" vspace="5" hspace="10">
        {% else %}
        <img src="{% static 'img/image-not-found.png' %}" width="160" height="200" alt="employee_img" align="left" vspace="5" hspace="10" alt="quest_img">
        {% endif %}
    </div>
    <div class="ml-5 mr-5 w-75 p-3" style="word-wrap:break-word;">
        <p class="card-text" ><b>{% trans 'ФИО: ' %}</b> <span id="employee_name" >{{ employee.last_name }} {{ employee.first_name }} {{ employee.middle_name }}</span></p>
        <p class="card-text"><b>{% trans 'Номер телефона: ' %}</b> {{ employee.phone_number }}</p>
        <p class="card-text"><b>{% trans 'Номер родственника: ' %}</b>{{ employee.relative_phone_number }}</p>
        <p class="card-text"><b>{% trans 'Id паспорта: ' %}</b>{{ employee.passport_id }}</p>
        {% if employee.labor_contract %}
        <p class="card-text"><b>{% trans 'Трудовой договор: ' %}</b> <a href=" {{ employee.labor_contract.url }}">{{ employee.labor_contract}}</a></p>
         {% endif %}
        {% if employee.passport %}
        <p class="card-text"><b>{% trans 'Паспорт: ' %}</b> <a href=" {{ employee.passport.url }}">{{ employee.passport}}</a></p>
        {% endif %}
         {% if employee.achievement %}
        <p class="card-text"><b>{% trans 'Достижения: ' %}</b>{{ employee.achievement }}</p>
        {% endif %}
        {% if employee.deposit_amount %}
        <p class="card-text"><b>{% trans 'Сумма депозита: ' %}</b>{{ employee.deposit_amount }}</p>
        {% endif %}
        <p class="card-text"><b>{% trans 'Адрес: ' %}</b>{{ employee.address }}</p>
        {% if employee.note %}
        <p class="card-text"><b>{% trans 'Примечание: ' %}</b>{{ employee.note }}</p>
        {% endif %}
        <p class="card-text"><b>{% trans 'Санитарная книжка: ' %}</b>{% if employee.medical_record %}{% trans 'есть' %}{% else %}{% trans 'нет' %}{% endif %}</p>
      </div>
    </div>
  </div>
{% endblock %}


