{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block title %}
{% trans 'Список товаров' %}
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}
{% block menu %}
{% endblock %}
{% block content %}
{% include 'partial/pagination.html' %}

    {% load i18n %}
<h3 class="mb-5 mt-4" align="center">
   <b>{% trans 'Список товаров' %}</b>
</h3>
    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">{% trans 'Имя' %}</th>
      <th scope="col">{% trans 'Фамилия' %}</th>
      <th scope="col">{% trans 'Отчество' %}</th>
      <th scope="col">{% trans 'Номер Телефона' %}</th>
            <th scope="col">{% trans 'Редактирование' %}</th>
            <th scope="col">{% trans 'Удаление' %}</th>
    </tr>
  </thead>
  <tbody>
{% for employee in employees %}
    <tr>
      <th scope="row">{{ employee.first_name }}</th>
        <td >{{ employee.last_name }}</td>
        <td >{{ employee.middle_name }}</td>
        <td >
                    {{ employee.phone_number }}
            </td>
            <td><a href="#" class="mt-2 btn btn-info btn-sm" id="update-button">
                {% trans 'Редактировать' %}</a></td>
            <td><a href="#"
                   class="mt-2 btn btn-danger btn-sm" id="delete-button">
                {% trans 'Удалить' %}</a></td>

    </tr>
  {% endfor %}
  </tbody>
</table>
    {% include 'partial/pagination.html' %}
{% endblock %}