{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block title %}
{% trans 'Cписок гостей' %}
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}
{% block menu %}
{% endblock %}
{% block content %}
<form class="form-inline my-2 my-lg-0"  method="get">
    {{ filter.form}}
    <button class="btn btn-info my-2 my-sm-0" type="submit">{% trans 'Поиск'%}</button>
</form>
<div class="dropdown mt-2">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {% trans 'Сортировка' %}
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="{% url 'hostelguests:guest_list' %}">{% trans 'По дате создания' %}</a>
    <a class="dropdown-item" href="{% url 'hostelguests:guest_list' %}?ordering:by_name">{% trans 'По ФИО' %}</a>
  </div>
</div>
{% include 'partial/guest_list.html' %}
{% include 'partial/pagination.html' %}
{% endblock %}