{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Редактирование информации о госте' %}{% endblock %}

{% block navs %}
    <li class="nav-item active ml-3">
        <a class="nav-link" href="{% url 'hostelguests:detail_view' guest.pk %}">{% trans 'Отмена' %}</a>
    </li>
{% endblock %}

{% block content %}
    <h3 class="mb-4 mt-5" align="center"><b>{% trans 'Редактирование информации о госте' %}</b></h3>
    {% include 'partial/bootstrap_form.html' with form_method='post' button_text='Сохранить' enctype="multipart/form-data" %}
{% endblock %}
