{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block title %}
{% trans 'Cписок гостей' %}
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}
{% block menu %}
{% endblock %}
{% block content %}
<h3 class="mb-5 mt-4" align="center">
   <b>{% trans 'Список услуг' %}</b>
</h3>
{% for service  in hostel_services %}
    <div class="card my-2">
        <div class="card-body">
            <h5 class="card-title">{% trans 'Услуга:' %}:<a href="{% url 'hostelservices:hostelservices_detail' service.pk %}"> {{ service.service_name }} </a></h5>

            <p class="card-text">{% trans 'Была добавлена' %}: {{ service.created_at }}</p>
            {% if perms.hostelservices.can_delete_hostelservice %}
                <a href="{% url 'hostelservices:hostelservice_delete' service.pk %}" class="btn btn-danger btn-sm">{% trans 'Удалить'%}</a>
            {% endif %}
        </div>
    </div>
{% endfor %}
{% include 'partial/pagination.html' %}
{% endblock %}