{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block title %}
{% trans 'Cписок гостей' %}
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}
{% block menu %}
{% endblock %}
{% block content %}
    <h3 class="mb-5 mt-4" align="center">
       <b>{% trans 'Список услуг' %}</b>
    </h3>
    {% if perms.hostelservices.can_add_hostelservice %}
        <a href="{% url 'hostelservices:hostelservices_add' %}"
           class="my-2 btn btn-success" id="create-button">
            {% trans 'Добавить услугу' %}
        </a>
    {% endif %}
    {% for service  in hostel_services %}
        <div class="card my-2">
            <div class="card-body">
                <h5 class="card-title">{% trans 'Услуга:' %}: {{ service.service_name }}</h5>
                <p class="card-text">{% trans 'Была добавлена' %}: {{ service.created_at }}</p>
                {% if perms.hostelservices.can_view_hostelservice %}
                    <a href="{% url 'hostelservices:hostelservices_detail' service.pk %}"
                       class="mt-2 btn btn-primary btn-sm" id="view-button">
                        {% trans 'Просмотр' %}
                    </a>
                {% endif %}
                {% if perms.hostelservices.can_change_hostelservice %}
                    <a href="{% url 'hostelservices:hostelservices_update' service.pk %}"
                       class="mt-2 btn btn-info btn-sm" id="update-button">
                        {% trans 'Редактировать' %}
                    </a>
                {% endif %}
                {% if perms.hostelservices.can_delete_hostelservice %}
                    <a href="{% url 'hostelservices:hostelservice_delete' service.pk %}"
                           class="mt-2 btn btn-danger btn-sm" id="delete-button">
                        {% trans 'Удалить' %}
                    </a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
    {% include 'partial/pagination.html' %}
{% endblock %}