{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block title %}
    {% trans 'Услуга' %}
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}
{% block dropdown_service %}
{% endblock %}
{% block content %}
    <h3 class="mb-5 mt-5" align="center">
        <b>{% trans 'Услуга' %}</b>
    </h3>
    <div class="card my-2">
        <div class="card-body">
            <h5 class="card-title" >{% trans 'Наименование услуги' %}: {{ hostelservice.service_name }}  </h5>
            <p>{% trans 'цена продажи' %}:{{ selling_price.selling_price }}</p>
            {% if perms.purchase_price.can_view_purchase_price %}
                <p>{% trans 'цена покупки' %}:{{ purchase_price.purchase_price }}</p>
            {% endif %}
                {% if perms.hostelservices.can_change_hostelservice %}
                    <a href="{% url 'hostelservices:hostelservices_update' hostelservice.pk %}"
                       class="mt-2 btn btn-info btn-sm" id="update-button">
                        {% trans 'Редактировать' %}
                    </a>
                {% endif %}
                {% if perms.hostelservices.can_delete_hostelservice %}
                    <a href="{% url 'hostelservices:hostelservice_delete' hostelservice.pk %}"
                           class="mt-2 btn btn-danger btn-sm" id="delete-button">
                        {% trans 'Удалить' %}
                    </a>
                {% endif %}
        </div>
    </div>
    <div>
</div>
{% endblock %}
